# Cloudflare Turnstile (testing keys)
TURNSTILE_SECRET=1x0000000000000000000000000000000AA

# Cấu hình Mạng & Database
MONGO_URI=mongodb://localhost:27017/
MONGO_DATABASE=sharingfileweb

# Thông tin Băm Secret (JWT)
JWT_SECRET=SharingFileWebSecretKeyLongEnoughMin256Bits_Replace_In_Production
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

# Google OAuth2
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# GitHub OAuth2
GITHUB_CLIENT_ID=Ov23li2QR2EhFM8tPu06
GITHUB_CLIENT_SECRET=your_github_client_secret_here

# Dribbble OAuth2
DRIBBBLE_CLIENT_ID=your_dribbble_client_id_here
DRIBBBLE_CLIENT_SECRET=your_dribbble_client_secret_here

# Zalo OAuth2
ZALO_APP_ID=your_zalo_app_id_here
ZALO_SECRET_KEY=your_zalo_secret_key_here

# Backblaze B2 Config
B2_APPLICATION_KEY_ID=your_b2_application_key_id_here
B2_APPLICATION_KEY=your_b2_application_key_here
B2_BUCKET_NAME=your_bucket_name_here
B2_BUCKET_ID=your_bucket_id_here
B2_DOWNLOAD_URL_EXPIRATION=3600

# SePay Payment Config
SEPAY_TOKEN=your_sepay_token_here
SEPAY_ACCOUNT_NUMBER=your_sepay_account_number_here
SEPAY_BANK_NAME=your_sepay_bank_name_here
